<div id="base" class="base">
  <div class="base-nav">

  </div>

  <div class="base-content">

    <% include nav.ejs %>
    <% include home.ejs %>
    <% include shop.ejs %>
    <% include signin.ejs %>
    <% include profil.ejs %>
    <% include notification.ejs %>
    <% include play.ejs %>

  </div>
  <script src="./assets/js/base.js"></script>
</div>
