<html lang="fr">

  <head>

    <meta charset="utf-8">
    <title>Village Launcher</title>

    <!--Style Sheet-->
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/frame.css">
    <link rel="stylesheet" href="./assets/css/nav.css">
    <link rel="stylesheet" href="./assets/css/signin.css">
    <link rel="stylesheet" href="./assets/css/profil.css">
    <link rel="stylesheet" href="./assets/css/home.css">
    <link rel="stylesheet" href="./assets/css/shop.css">
    <link rel="stylesheet" href="./assets/css/notification.css">

  </head>

  <body>

    <div id="main" class="main">
      <% include base.ejs %>

    </div>

    <% include frame.ejs %>
  </body>

</html>
