<div class="nav" id="nav">
  <ul id="navigation">
    <li><a href="#" class="active nV" id="homeNav">Accueil</a></li>
    <li><a href="#" class="nV" id="shopNav">Boutique</a></li>
    <li><a href="#" class="nV" id="voteNav">Vote</a></li>
    <li><a href="#" class="nV" id="playNav">Jouer</a></li>
    <li><a href="#" class="nV" id="contactNav">Contact</a></li>
    <li><a href="#" class="nV" id="optionsNav">Options</a></li>
  </ul>
  <div class="site-discord">
    <a href="#" id="siteNav"><img src="assets/images/site.png" alt="" height="64px" width="64px"></a>
    <a href="#" id="discordNav"><img src="assets/images/discord.png" alt="" height="64px" width="64px"></a>
  </div>
  <ul id="signin-up">
    <li><a href="#" class="signin" id="signinNav">Se connecter</a></li>
    <li><a href="#" class="signup" id="signupNav">Inscription</a></li>
  </ul>
</div>
<script src="./assets/js/nav.js"></script>
