<div id="notification" class="hidden">
  <div class="notification-header">
    <h1>vLauncher Updater</h1>
  </div>
  <div class="notification-box">
    <p id="message">Une mise à jour est disponible ... Téléchargement en cours</p>
  </div>
  <div class="notification-footer">
    <button id="close-button" class="button" onClick="closeNotification()">
      Fermer
    </button>
    <button id="restart-button" class="button hidden" onClick="restartApp()">
      Relancer
    </button>
  </div>
</div>
