<div class="play page hidden" id="play">
  <div class="play-header">
    <h1>Jouer</h1>
  </div>
  <div class="play-box">
    Jouez à Village
    <button type="button" id="dl">Download</button>
  </div>
</div>
<script src="assets/js/play.js" charset="utf-8"></script>
