<div class="profil page hidden" id="profil">
  <div class="profil-header">
    <h1>Profil</h1>
  </div>
  <div class="profil-box">
    <div class="" id="pseudo"></div>
  </div>
  <div class="profil-footer">

  </div>
</div>
<script src="assets/js/home.js" charset="utf-8"></script>
