<div class="shop page hidden" id="shop">
  <div class="shop-header">
    <h1>Boutique</h1>
  </div>
  <div class="shop-box">
    Bienvenue sur la Boutique!
    <br>Elle est en développement (fonctionnalité indisponible.)
    <div id="slider">
    <div id="slides">
        <figure id="slide1">
            <img src="assets/images/bg.jpg" alt="Une première image">
            <figcaption>Gwad Fowjewon</figcaption>
        </figure>
        <figure id="slide2">
            <img src="assets/images/bg.jpg" alt="Une deuxième image">
            <figcaption>Quitte peaussillionniste</figcaption>
        </figure>
        <figure id="slide3">
            <img src="assets/images/bg.jpg" alt="Une troisième image">
            <figcaption>Rang Bo</figcaption>
        </figure>
    </div>
    </div>
  </div>
</div>
