<div class="signin page hidden" id="signin">
  <div class="signin-header">
    <h1>Login</h1>
  </div>
  <div class="signin-box">
    <input type="text" class="textpass" id="username" placeholder="Pseudo" /><br>
    <input type="password" class="textpass" id="password" placeholder="Mot de passe" /><br>
    <input type="checkbox" id="saver" checked="checked" />Sauvegarder le pseudonyme
  </div>
  <div class="signin-footer">
    <button id="signin-button" class="button">
      Se connecter
    </button>
  </div>
</div>
<script src="assets/js/signin.js" charset="utf-8"></script>
